<html>
    <head><title></title></head>
    <body>
        <h1>Car Part Selling</h1>
        <hr>
        {% if user.is_authenticated %}
        Welcome {{user}}
            <p>Logged in as <strong>{{user.username}}</strong>.<a href="{% url 'logout' %}">Logout</a></p>
        {% else %}
            <a href="{% url 'login' %}">Log in</a>
            <a href="{% url 'Car:signup' %}">Sign up</a>
        {% endif %}
        {% block content %}    
        {% endblock %}
        <h3>Footer Goes Here</h3>
    </body>
</html>